// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Icons
@import '~bootstrap-icons/font/bootstrap-icons';

// DataTables
@import '~datatables.net-bs5/css/dataTables.bootstrap5.css';
@import '~datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.css';

div.custom-min-height {
    min-height: 40vh;
}

div.found-files-list {
    max-height: 70vh;
    overflow-x: auto;
}

form.homepage-form {
    margin-top: 51px;
}

div.dataTables_wrapper div.dataTables_filter label {
    font-size: 20px;
    background-color: #ffccb3;
    border-radius: 10px;
    padding: 10px;
    display: block;
    text-align: center;
}

div.dataTables_wrapper div.dataTables_filter input {
    width: 80%;
    font-size: 20px;
}

