// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Icons
@import '~bootstrap-icons/font/bootstrap-icons';

// DataTables
@import '~datatables.net-bs5/css/dataTables.bootstrap5.css';
@import '~datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.css';

h2#model a {
    color: black;
    text-decoration: none;
}

h2#model a:hover {
    color: grey;
}

div.found-files-list {
    min-height: 70vh;
    max-height: 70vh;
    overflow-x: auto;
}

