// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Icons
@import '~bootstrap-icons/font/bootstrap-icons';

// DataTables
@import '~datatables.net-bs5/css/dataTables.bootstrap5.css';
@import '~datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.css';

div.custom-min-height {
    min-height: 40vh;
}

div.found-files-list {
    max-height: 70vh;
    overflow-x: auto;
}

